#BUS_SORT

#S
clk
rst_n
cpu_mem_en
wbs_stb_i
wbs_cyc_i
wbs_we_i
wbs_ack_o
mem_en
wbs_sel_i.*
cpu_mem_we.*
mem_we.*

#N
cpu_mem_rdata.*
cpu_mem_addr.*
mem_addr.*
mem_rdata.*

#E
wbs_adr_i.*
wbs_dat_i.*
mem_wdata.*

#W
cpu_mem_wdata.*
wbs_dat_o.*
